**/.*.cs
**/.#*
**/.ade_path
**/.ade_path/**
**/.data/**
**/.depprod
**/.depprod_nt
**/.do_pool
**/.do_pool/**
**/.fullsource
**/.fullsource_nt
**/.svn/**
**/.wlLibs/**
**/.wlsjsps/**
**/*.bak
**/*.cdi
**/*.class
**/*.client_contrib
**/*.contrib*
**/*.DS_Store
**/*.generated.java
**/*.git
**/*.ignore
**/*.keep
**/*.labellog.emd
**/*.metadata
**/*.mv.*
**/*.rename.*
**/*.rvi
**/*.saved.*
**/*.scc
**/*.sync.*
**/*.unbranch.*
**/*.unco.*
**/*.unmkelem.*
**/*~
**/*#GRABTRANS*
**/*#JDEVADF_*
**/classes/**
**/CVS/**
**/deploy/**
**/META-INF/cwallet.sso.lck
**/temp/**
**/WEB-INF/classes/jsp_servlet/**
**/WEB-INF/temp/**
**/target/**